html, body {
    margin: 0;
    padding: 0;
    height: 100%;
    font-family: "Apple SD Gothic Neo", "Apple SD Gothic", notosanskr, "Malgun Gothic", "맑은 고딕", Dotum, 돋움, sans-serif;
}

.side-bar{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    position: fixed;
    left:0%;
    background-color: rgb(251, 253, 255);
    width: 65px;
    height: 100%;
    z-index: 4;
    box-shadow: rgba(0, 0, 0, 0.05) 10px 0px 10px 0px, rgba(0, 0, 0, 0.01) 20px 0px 20px 0px;
    border-right: 1px solid rgba(0, 0, 0, 0.15);
}

.side-bar-top {
    display: flex;
    flex-direction: column;
    width: 100%;
}

.side-bar-top a {
    width: 65px;
    height: 65px;
    border-bottom: 1px solid rgba(0, 0, 0, 0.15);
}

#logo{
    background: url("./assets/icons.png") no-repeat 46% 27%;
    background-size: 600px;
    height: 80px;
}
#seoul{
    background: url("./assets/icons.png") no-repeat 45.5% 54%;
    background-size: 400px;
}
#suwon{
    background: url("./assets/icons.png") no-repeat 45.5% 73%;
    background-size: 400px;
}

#seoul:hover{
    background: url("./assets/icons.png") no-repeat 75.5% 54%;
    background-size: 400px;
}
#suwon:hover{
    background: url("./assets/icons.png") no-repeat 74.5% 73%;
    background-size: 400px;
}
.side-bar-bottom {
    border-top: 1px solid rgba(0, 0, 0, 0.15);
    width: 100%;
    height: 80px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
#my-page{
    width: 40px;
    height: 40px;
    background: url("./assets/icons.png") no-repeat 20.5% 54%;
    background-size: 250px;
}
#my-page:hover{
    background: url("./assets/icons.png") no-repeat 20.5% 24%;
    background-size: 250px;
}

.side-bar-body {
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
    align-items: center;
    width: 390px;
    height: 100%;
    background-color: #96B1FE;
    box-shadow: rgba(0, 0, 0, 0.3) 0px 0px 5px 0px, rgba(0, 0, 0, 0.2) 5px 0px 15px 0px;
    position: fixed;
    top: 0;
    left: 65px;
    transition: all 0.5s;
    z-index: 3;
}

.search-container {
    position: relative;
    width: 340px;
    height: 45px;
    padding:15px 25px;
    background-color: #96B1FE;
}

input[type="text"] {
    width: 100%;
    height: 42px;
    padding: 10px 40px 10px 20px;
    box-sizing: border-box;
    border-radius: 4px;
    border: none;
    outline: none;
    transition: border 0.3s;
    font-weight: bold;
    letter-spacing: -0.2px;
    font-size: 16px;
    box-shadow: rgba(0, 0, 0, 0.2) 0px 0px 10px 0px, rgba(0, 0, 0, 0.1) 5px 0px 20px 0px;
    background-color: rgb(251, 253, 255);
}
input::placeholder {
    color: #A5A5A5;
}

.notice-container {
    position: relative;
    box-shadow: rgba(0, 0, 0, 0.2) 0px 0px 10px 0px, rgba(0, 0, 0, 0.1) 5px 0px 20px 0px;
    background-color: rgba(251, 253, 255);
    width: 320px;
    height: 40px;
    margin-bottom: 20px;
    border-radius: 5px;
    vertical-align: center;
    color: rgba(4, 117, 244, 0.75);
    padding: 10px;
    cursor: pointer;
    overflow: hidden;
}
.notice-container:hover {
    background-color: rgb(241, 243, 245);
}
.notice-icon{
    display: inline-block;
    position: absolute;
    left: 2%;
    top: 13%;
    width: 30px;
    height: 30px;
    background: url("./assets/icons.png") no-repeat 6% 91%;
    background-size: 300px;
}
.notice-prev{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 40px;
    padding-left: 10px;
    position: absolute;
    top: 10px;
    left: 35px;
    opacity: 0;
    z-index: 1;
    transition: all 0.5s;
    font-weight: 600;
}
.notice-prev:first-child {
    display: block;
    opacity: 1;
}

.category-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start; /* 정렬을 왼쪽에서 시작 */
    width: 310px;
    height: 150px;
    padding: 0px 20px 15px 20px;
}

.category-btn {
    background-color: rgb(251, 253, 255);
    border: none;
    min-width: 100px;
    height: 30px;
    border-radius: 15px;
    color: rgba(0, 0, 0, 0.35);
    font-weight: bolder;
    cursor: pointer;
    font-family: Arial, sans-serif;
    font-size: 14px;
    margin: 10px 5px 10px 20px;
    padding: 8px 16px;
    box-sizing: border-box;
    text-align: center;
    transition: all 0.3s ease; /* smooth transition for pressed effect */
}
.first-btn{
    margin: 10px;
}

.category-btn.pressed {
    box-shadow: inset 0px 2px 5px rgba(0, 0, 0, 0.2);
    background-color: rgb(231, 233, 235);
    transform: scale(0.97);
}

.category-btn.active {
    background-color: rgb(251, 253, 255);
    color: rgba(0, 0, 0, 0.35);
}


.place-card-container{
    width: 100%;
    height: 100%;
    background-color: rgb(251, 253, 255);
    border-top: 1px solid rgba(0, 0, 0, 0.25);

    display: flex;
    flex-direction: column;
    overflow-y: scroll;
}

.place-card-container::-webkit-scrollbar{
    width: 8px;
}
.place-card-container::-webkit-scrollbar-thumb{
    height: 17%;
    background-color: #C1C1C1;
    border-radius: 10px;
}
.place-card-container::-webkit-scrollbar-track{
    background-color: #e3e3e3;
}

.place-card {
    background-color: rgb(251, 253, 255);
    border-bottom: 1px solid rgba(0, 0, 0, 0.1);
    height: 300px;
    flex-shrink: 0;
    cursor: pointer;
    display: flex;
    flex-direction: column;
    gap:5px;
    padding: 15px 15px 14px 20px;
}
.side-bar-body .place-card:hover {
    background-color: rgb(245, 245, 245);
}
.place-image-container1{
    height: 180px;
    width: 100%;
    background: url("./assets/sample-img.jpg") no-repeat;
    background-size: 380px 180px;
    border-radius: 5px;
}
.place-image-container2{
    height: 180px;
    width: 100%;
    background-color: rgb(245, 245, 245);
    border-radius: 5px;
    display: grid;
    grid-template-columns: 1.5fr 1fr;
    grid-template-rows: 1fr 1fr;
    gap: 1px;
}

.main-image {
    grid-column: 1 / span 1;
    grid-row: 1 / span 2;
    background: url("./assets/sample-img.jpg") no-repeat;
    background-size: cover;
}

.side-image {
    grid-column: 2 / span 1;
    grid-row: 1 / span 1;
    background: url("./assets/sample-img.jpg") no-repeat;
    background-size: cover;
}

.remain-image {
    grid-column: 2 / span 1;
    grid-row: 2 / span 1;
    background: url("./assets/sample-img.jpg") no-repeat;
    background-size: cover;
    cursor: pointer;
}

.place-title{
    height: 110px;
    padding: 0px 15px;
}

.place-name {
    font-size: 26px;
    font-weight: bold;
    color: #0068C3;
    position: relative;
    margin-bottom: 8px;
}
.open-tag {
    display: inline-block;
    width: 55px;
    height: 20px;
    background: url("./assets/icons.png") no-repeat 20.5% 4%;
    background-size: 300px;
    position: relative;
    top:6px;
    right:-10px;
}
.close-tag {
    display: inline-block;
    width: 55px;
    height: 20px;
    background: url("./assets/icons.png") no-repeat 51.5% 4%;
    background-size: 300px;
    position: relative;
    top:6px;
    right:-10px;
}
.place-location, .place-operation-time{
    font-size: 15px;
    font-weight: bold;
    color: rgba(0, 0, 0, 0.65);
    margin-bottom: 3px;
    margin-left: 5px;
    position: relative;
}
.place-operation-time span {
    display: inline-block;
    width: 25px;
    height: 25px;
    background: url("./assets/icons.png") no-repeat 22.5% 92%;
    background-size: 265px;
    position: relative;
    top:7px;
    left: -1px;
    margin-right: 2px;
}
.place-location span {
    display: inline-block;
    width: 25px;
    height: 25px;
    background: url("./assets/icons.png") no-repeat 45.5% 92%;
    background-size: 265px;
    position: relative;
    top:5px;
    left: 1px;
}

.place .place-card {
    cursor: default;
}

.search-btn {
    position: absolute;
    right: 9%;
    top: 30%;
    border: none;
    cursor: pointer;
    outline: none;
    width: 30px;
    height: 30px;
    background: url("./assets/icons.png") no-repeat 23% 72%;
    background-size: 300px;
}
.place-detail-menu{
    display: flex;
    border-bottom: 1px solid rgba(0, 0, 0, 0.1);
    width: 100%;
    height: 46px;
    justify-content: space-evenly;

}
.place-detail-menu a{
    text-decoration-line: none;
    color: rgba(0, 0, 0, 0.65);
    padding: 0 15px 0 16px;
}
.place-menu-item{
    display: block;
    color: rgba(0, 0, 0, 0.65);
    padding: 13px 0 11px;
    font-weight: 1000;
}
.place-menu-item-clicked{
    border-bottom: 2px solid black;
    border-radius: 2px;
    color: black;
}
.place-detail-info{
    width: calc(100% - 32px);
    padding: 16px;
    height: 350px;
    border-bottom: 1px solid rgba(0, 0, 0, 0.1);
}
.place-detail-images {
    width: calc(100% - 32px);
    padding: 16px;
    height: 350px;
    position: relative;
    border-bottom: 1px solid rgba(0, 0, 0, 0.1);
}

.place-detail p {
    padding-left: 15px;
    font-size: 24px;
    font-weight: bold;
    color: rgba(0, 0, 0, 0.65);
    margin: 0 0 5px 0;
}

.slider-wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
}

.slider-arrow {
    width: 21px;
    height: 30px;
    cursor: pointer;
}
.slider-arrow-left{
    background-image:url("./assets/naver.png");
    background-size: 488px 463px;
    background-position: -390px -72px;
}
.slider-arrow-right{
    background-image:url("./assets/naver.png");
    background-size: 488px 463px;
    background-position: -390px -188px;
}

.place-image {
    width: 300px;
    height: 300px;
    border: 1px solid rgba(0, 0, 0, 0.2);
    margin: 5px 15px 0px;
}
.place-detail-reviews{
    width: calc(100% - 32px);
    padding: 16px;
    height: 350px;
    background-color: #555555;
    position: relative;
}

.place-detail-reviews span{
    display: inline-block;
    font-weight: bolder;
    color: white;
    font-size: 60px;
    padding: 16px;
    background-color: #555555;
    position: relative;
    top: calc(50% - 80px);
    left: 15%;
}

.nav-bar {
    height: 50px;
    padding: 0 20px 0 30px;
    background-color: rgb(251, 253, 255);
    position: fixed;
    top: 2%;
    left: 480px;
    transition: all 0.5s;
    z-index: 2;
    box-shadow: rgba(0, 0, 0, 0.3) 0px 2px 4px 0px;
    display: flex;
    gap:20px;
    align-items: center;
    border-radius: 5px;
}

.nav-item {
    position: relative;
    width: 70px;
    font-size: 14px;
    font-weight: 600;
    color: rgba(0, 0, 0, 0.65);;
    text-align: center;
    cursor: pointer;
    border-right: 1px solid rgba(0, 0, 0, 0.5);
}
.nav-school{
    width: 100px;
}
.nav-item:hover{
    color: #007BFF;
}
.nav-item > span {
    position: absolute;
    left: -7px;
    top: -4px;
    display: inline-block;
    width: 30px;
    height: 30px;
}

.nav-mart {
    border-right: none;
}

.nav-school > span {
    background: url("./assets/icons.png") no-repeat 99% 58%;
    background-size: 350px;
    width: 40px;
    height: 40px;
}
.nav-cafe > span {
    background: url("./assets/icons.png") no-repeat 97% 78%;
    background-size: 300px;
}
.nav-restaurant > span {
    background: url("./assets/icons.png") no-repeat 96% 45%;
    background-size: 350px;
    top:-3px;
}
.nav-medical > span {
    background: url("./assets/icons.png") no-repeat 97.5% 21%;
    background-size: 300px;
    top:-6px;
}
.nav-pc > span {
    background: url("./assets/icons.png") no-repeat 98% 34%;
    background-size: 300px;
}
.nav-mart > span {
    background: url("./assets/icons.png") no-repeat 96% 67%;
    background-size: 400px;
}

.nav-school:hover > span {
    background: url("./assets/icons.png") no-repeat 87% 58%;
    background-size: 350px;
    width: 30px;
    height: 40px;
}
.nav-cafe:hover > span {
    background: url("./assets/icons.png") no-repeat 88% 78%;
    background-size: 300px;
}
.nav-restaurant:hover > span {
    background: url("./assets/icons.png") no-repeat 87% 45%;
    background-size: 350px;
    top:-3px;
}
.nav-medical:hover > span {
    background: url("./assets/icons.png") no-repeat 87.5% 21%;
    background-size: 300px;
    top:-6px;
    left:-10.5px;
}
.nav-pc:hover > span {
    background: url("./assets/icons.png") no-repeat 88% 34%;
    background-size: 300px;
    width: 26px;
}
.nav-mart:hover > span {
    background: url("./assets/icons.png") no-repeat 87% 67%;
    left:-8px;
    background-size: 400px;
}

.toggle-button {
    position: fixed;
    top: calc((100% - 70px) / 2);
    left: 845px;
    z-index: 1000;
    width: 22px;
    height: 49px;
    cursor: pointer;
    border: none;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
    transition:transform 0.5s;
    background-image:url("./assets/naver.png");
    background-size: 428px 403px;
    background-position: -339px -50px;
}

.toggle-button:hover{
    background-position: -339px -100px;
    filter: brightness(98%);
}

#map {
    width: 100%;
    height: 100%;
    z-index: 1;
}

.current-button {
    width: 30px;
    height: 30px;
    position: fixed;
    border: 1px solid rgba(0, 0, 0, 0.25);
    right: 10px;
    bottom: 13%;
    z-index: 2;
    background-image:url("./assets/naver.png");
    background-size: 428px 403px;
    background-position: -132.5px -117.5px;
    background-color: white;
    cursor: pointer;
    border-radius: 5px;
    box-shadow: rgba(0, 0, 0, 0.3) 0px 2px 4px 0px;
}

.current-button:hover{
    background-image:url("./assets/naver.png");
    background-size: 428px 403px;
    background-position: -89.5px -73.6px;
    background-color: white;
}


.place {
    display: flex;
    background-color: #e3e3e3;
    justify-content: flex-start;
    flex-direction: column;
    width: 390px;
    height: 100%;
    box-shadow: rgba(0, 0, 0, 0.05) 10px 0px 10px 0px, rgba(0, 0, 0, 0.05) 20px 0px 20px 0px;
    border-left: 1px solid rgba(0, 0, 0, 0.1);
    position: fixed;
    top: 0;
    left: 455px;
    transition: all 0.5s;
    z-index: 2;
    overflow-y: scroll;
}
.place::-webkit-scrollbar{
    width: 8px;
}
.place::-webkit-scrollbar-thumb{
    height: 17%;
    background-color: #C1C1C1;
    border-radius: 10px;
}
.place::-webkit-scrollbar-track{
    background-color: #e3e3e3;
}

.place-detail{
    width: 100%;
    margin-top: 8px;
    background-color: rgb(251, 253, 255);
}

.place-close-button {
    position: fixed;
    left: 845px;
    top:5%;
    z-index: 2;
    width: 43px;
    height: 43px;
    cursor: pointer;
    transition: transform 0.5s;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
    background: url("./assets/icons.png") no-repeat 73.75% 33.5%;
    border: 1px solid rgba(0, 0, 0, 0.1);
    background-color: rgb(251, 253, 255);
    background-size: 400px;
}

.place-close-button:hover{
    background: url("./assets/icons.png") no-repeat 73.75% 20.25%;
    border-right: 1px solid #007BFF;
    border-top: 1px solid #007BFF;
    border-bottom: 1px solid #007BFF;
    background-color: rgb(241, 243, 245);
    background-size: 400px;
}
.overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 9999;
}

.popup-box {
    width: 400px;
    height: 300px;
    background-color: white;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.2);
    max-width: 80%;
    max-height: 80%;
    overflow: auto;
    word-wrap: break-word;
    z-index: 9999;
}
